<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua|Open+Sans" rel="stylesheet" />

  <link href="css/main.css" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Aide Nepal Magnoac</title>
  <meta name="description" content="Raising money to rebuild schools in Nepal destroyed in the 2015 earthquake" />
  <meta name="keywords" content="Nepal, earthquake, school, help, volunteer, donate, rebuild, France, Magnoac" />


</head>
{{content}}
