---
layout: default
---
{% for lang in site.languages %}
  {{lang}}
{% endfor %}
<header class="grid">
  <div class="col-2_sm-6">
    <a href="/index.html" class="font">Home</a>
  </div>

  <div class="col-2_sm-6">
    <a href="mailto:aidenepalmagnoac@gmail.com?Subject=Website%20enquiry" class="font">Contact</a>
  </div>
</header>

<div class="blogTitle">


  <div>
    <h3>{{ page.title }}</h3>
  </div>
  <div>
    <p class="blogDetails">
      Category: {{ page.category }}
    </p>
    <p class="blogDetails">
      Date: {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>

  <div>
    <p>
      {{ content }}
    </p>
  </div>
  <div class="itemImage" style="background-image: url('{{ page.image }}'); background-position: center; background-size: cover; background-repeat: none;">
  </div>
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://aidenepalmagnoac.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
