---
layout: default
---
{% for lang in site.languages %}
  {{lang}}
{% endfor %}
<header class="grid">
  <div class="col-2_sm-6">
    <a href="/index.html" class="font">Home</a>
  </div>

  <div class="col-2_sm-6">
    <a href="mailto:aidenepalmagnoac@gmail.com?Subject=Website%20enquiry" class="font">Contact</a>
  </div>
</header>

<div class="blogTitle">


  <div>
    <h3>{{ page.title }}</h3>
  </div>
  <div>
    <p class="blogDetails">
      Category: {{ page.category }}
    </p>
    <p class="blogDetails">
      Date: {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>

  <div>
    <p>
      {{ content }}
    </p>
  </div>
  <div class="itemImage" style="background-image: url('{{ page.image }}'); background-position: center; background-size: cover; background-repeat: none;">
  </div>

</div>
