---
layout: default
---


<div>
  <div>
    <h3>{{ page.title }}</h3>
  </div>
  <div>
    <p>
      {{ content }}
    </p>
  </div>
  <div class="itemImage" style="background-image: url('{{ page.image }}'); background-position: center; background-size: cover; background-repeat: none;">
  </div>
  <div>
    <p class="blogDetails">
      Category: {{ page.category }}
    </p>
    <p class="blogDetails">
      Date: {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>
</div>
<div>
  <a href="/index.html"><h4>Return to front page</h4></a>
</div>
